<!DOCTYPE html>
<html>
<head>
  <title>Wyniki</title>
  <link rel="stylesheet" type="text/css" href="/stylesForResults.css">
</head>
<body>
  <img src="/duck.jpg" alt="Opis obrazu"style="width: 200px; height: 150px;">

  <h1>Wyniki:</h1>
  <table>
    <tr>
      <td>Imię:</td>
      <td>Wiek:</td>
      <td>Email:</td>
    </tr>
    <tr>
      <td><%= imie %></td>
      <td><%= wiek %></td>
      <td><%= email %></td>
    </tr>
  </table>
</body>
</html>